<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key List</title>
    <link rel="stylesheet" href="/css/adminsPage.css">
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Key</th>
            <th>User</th>
            <th>Status</th>
            <th>Procurement Date</th>
            <th>Expiry Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ABC123</td>
            <td>user1@example.com</td>
            <td class="active">Active</td>
            <td>2023-04-01</td>
            <td>2023-05-01</td>
          </tr>
          <tr>
            <td>DEF456</td>
            <td>user2@example.com</td>
            <td class="expired">Expired</td>
            <td>2023-03-01</td>
            <td>2023-04-01</td>
          </tr>
          <tr>
            <td>GHI789</td>
            <td>user3@example.com</td>
            <td class="revoked">Revoked</td>
            <td>2023-02-01</td>
            <td>2023-03-01</td>
          </tr>
        </tbody>
      </table>
</body>
</html>