<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Key List</title>
    <link rel="stylesheet" href="/css/adminsPage.css">
</head>
<body>
  <h1>User List</h1>
  <h1>User List</h1>
    <table>
      <thead>
        <tr>
          <th>Keys</th>
          <th>Email</th>
          <th>Status</th>
          <th>Procurement Date</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td>
            <% if (user.access_keys && user.access_keys.length > 0) { %>
              <% user.access_keys.forEach(accessKey => { %>
                <%= accessKey.key %><br>
              <% }); %>
            <% } else { %>
              No keys found
            <% } %>
          </td>
          <td><%= user.email %></td>
          
          <td>
            <% if (user.access_keys && user.access_keys.length > 0) { %>
              <% user.access_keys.forEach(accessKey => { %>
                <%= accessKey.expiry_date %><br>
              <% }); %>
            <% } else { %>
              -
            <% } %>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
</body>
</html>