<!DOCTYPE html>
<html>
<head>
	<title>User Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/public/css/dasboard.css">
</head>
<body>
	<div class="container">
		<h1>User Dashboard</h1>
		<div class="user">
			<h1>User List</h1>
    <ul>
      <% users.forEach(user => { %>
      <li><%= user.email %></li>
      <% }); %>
    </ul>
		</div>
		<div class="user">
			<h2>User 2</h2>
			<p>Name: Jane Doe</p>
			<p>Age: 25</p>
			<p>Email: jane.doe@example.com</p>
		</div>
	</div>
</body>
</html>
